<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsm.barrister2c">

    <permission
        android:name="com.lsm.barrister2c.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.lsm.barrister2c.permission.JPUSH_MESSAGE" />
    // SDK 权限申明, 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名
    // 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。
    <permission
        android:name="com.lsm.barrister2c.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <permission
        android:name="com.lsm.barrister2c.permission.INCOMING_CALL"
        android:protectionLevel="signature" />
    // 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.lsm.barrister 替换为自己的包名
    <uses-permission android:name="com.lsm.barrister2c.permission.RECEIVE_MSG" />
    // 如果没有VOIP功能可以忽略
    <uses-permission android:name="com.lsm.barrister2c.permission.INCOMING_CALL" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 允许程序录制音频(必选配置) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许应用程序修改全局声音设置的权限 (必选配置) -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许使用PowerManager的WakeLocks保持进程在休眠时从屏幕消失(必选配置) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许请求访问使用照相设备(如果使用视频通话则必选配置) -->
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- 允许应用读取低级别的系统日志文件 -->
    <!-- testIn -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.BarristerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DocActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AvatarDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyAvaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyAccountActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lsm.barrister2c.ui.activity.MainActivity" />

        </activity>
        <activity
            android:name=".ui.activity.MsgsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lsm.barrister2c.ui.activity.MainActivity" />

        </activity>

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GetMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SetBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BarristerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddOrderStarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchBarristerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OnLineBizUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UploadCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OnlineOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.pick.HiddenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ExpertListActivity"
            android:screenOrientation="portrait" />

        <!--债权债务信息相关页面-->
        <activity
            android:name=".ui.activity.creditdebt.CreditDebtDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.creditdebt.UploadCreditDebtActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.creditdebt.CreditDebtListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.creditdebt.MyPurchasedCreditDebtListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.creditdebt.MyUploadCreditDebtListActivity"
            android:screenOrientation="portrait" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx719e35ccbca02039" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsm.barrister2c" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>


        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />

            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.lsm.barrister2c" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".module.push.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <category android:name="com.lsm.barrister2c" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f802f6cf4892280c2a542731" /> <!--  </>值来自开发者平台取得的AppKey-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MzfTXxTwEsjui8n2EHmSCq57" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="default" />
        <meta-data
            android:name="DEBUG"
            android:value="true" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="f802f6cf4892280c2a542731" />

    </application>

</manifest>